BLUEPRINT_MODE_ENABLED=false
SCHEMA_READER_MODE=db
SCHEMA_READER_DB_DRIVER=sqlite
SCHEMA_READER_DB_HOST=127.0.0.1
SCHEMA_READER_DB_PORT=3306
SCHEMA_READER_DB_USERNAME=root
SCHEMA_READER_DB_PASSWORD=
SCHEMA_READER_DB_DATABASE=vemto_schema_reader
